name: CMake Build

on:
  push:
    branches:
      - simon
  pull_request:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsdl2-dev libsdl2-image-dev

      - name: CMake Configure
        run: cmake -S . -B build

      - name: CMake Build
        run: cmake --build build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/TankGame
            assets/*

  windows-build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Up vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          ./bootstrap-vcpkg.bat
          vcpkg integrate install

      - name: Install Dependencies
        run: |
          vcpkg install sdl2:x64-windows
          vcpkg install sdl2-image:x64-windows

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: CMake Configure
        run: | 
          dir
          dir vcpkg/scripts/buildsystems/
          cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"

      - name: CMake Build
        run: cmake --build build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/TankGame.exe
            assets/*
