name: CMake Build

on:
  push:
    branches:
      - simon
      - main
  pull_request:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: Install Dependencies
        run: |
          sudo echo "deb http://deb.debian.org/debian/ trixie main" >> /etc/apt/sources.list
          sudo echo "deb-src http://deb.debian.org/debian/ trixie main" >> /etc/apt/sources.list
          sudo apt-get update
          apt search sdl3
          apt search sdl2
          sudo apt-get install -y libsdl3-dev libsdl3-image-dev libsdl3-ttf-dev libsdl3-mixer-dev

      - name: CMake Configure
        run: cmake -S . -B build

      - name: CMake Build
        run: cmake --build build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/TankGame
            assets/*

  windows-build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Up vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          vcpkg\bootstrap-vcpkg.bat

      - name: Install Dependencies
        run: |
          cd vcpkg
          $env:VCPKG_ROOT = $(pwd)
          $env:PATH = "$env:VCPKG_ROOT;$env:PATH"
          vcpkg integrate install

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: CMake Configure
        run: | 
          cmake -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" -S . -B build

      - name: CMake Build
        run: | 
          cmake --build build --config Release
          dir build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/Release/*
            assets/*
