name: CMake Build

on:
  push:
    branches:
      - simon
  pull_request:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt update && sudo apt install -y \
          libfreetype6-dev libx11-dev libxrandr-dev libxcursor-dev libxi-dev \
          libudev-dev libgl1-mesa-dev libflac-dev libogg-dev libvorbis-dev \
          libvorbisenc2 libvorbisfile3 libpthread-stubs0-dev

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: CMake Configure
        run: |
          cmake -S . -B build

      - name: CMake Build
        run: cmake --build build --config Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/TankGame
            assets/*

      - name: Run Tests
        run: |
          .github/workflows/lobby_test.sh
        shell: bash
        timeout-minutes: 2

  windows-build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Up vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat

      - name: Install Dependencies
        run: |
          cd vcpkg
          $env:VCPKG_ROOT = $(pwd)
          $env:PATH = "$env:VCPKG_ROOT;$env:PATH"
          vcpkg integrate install

      - name: CMake Setup
        uses: jwlawson/actions-setup-cmake@v2

      - name: CMake Configure
        run: |
          cmake -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" -S . -B build

      - name: CMake Build
        run: |
          cmake --build build --config Release
          dir build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: TankGame-${{github.job}}
          path: |
            build/Release/*
            assets/*

      - name: Run Tests
        run: |
          .github\workflows\lobby_test.ps1
        shell: powershell
        timeout-minutes: 2
